@if (page$(); as page) {
  <app-pagination
    [baseUrl]="'/vending-machines'"
    [pageInfo]="page.page"
    [pageLinks]="page.links"
    (pageChanged)="searchMachines($event)"
  />

  <mat-table [dataSource]="dataSource$()">
    @for (column of displayedColumns; track column) {
      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{ element[column] }}</span>
        </mat-cell>
      </ng-container>
    }
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="viewMachine(row.id)"></mat-row>
  </mat-table>
} @else {
  <p>No result</p>
}
